:root{
  font-size: 20px;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2em;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  text-shadow: 1em 1em 2em rgb(0, 255, 81);
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
}
body{
  font-family: "Arial", "Meiryo", sans-serif;
  border-top: solid 0.2em gray;
  border-bottom: solid 0.2em gray;
}
#basic {
  text-align: center;
  line-height: 1.2em;
}
.parent > p {
  font-weight: bold;
}
.grandchild {
  font-weight: bold;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
