#top,
#middle,
#bottom {
  width: 800px;
  margin: 20px auto;
}

#top {
  background-color: #dcc9f4;
  text-align: center;
  padding: 10px 0;
}

.top-child {
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
  margin: 0 5px;
}

#middle {
  height: 800px;
  background-color: #ffd9df;
  position: relative;
}

#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
}

#middle-child01 {
  top: 100px;
  left: 100px;
}

#middle-child02 {
  top: 300px;
  left: 300px;
}

#middle-child03 {
  top: 500px;
  left: 500px;
}

#bottom {
  height: 300px;
  background-color: #87ceeb;
  position: relative;
}

#bottom-child01,
#bottom-child02,
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute;
  top: 0; 
}

#bottom-child01 {
    position: relative;
    left: 0px;
}

#bottom-child02 {
    position: relative;
    left: 200px;
}

#bottom-child03 {
    position: relative;
    left: 400px;
}
